/* T cho nhỏ page lại và có background video ở 2 bên */
body {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: large;
}
 
#sidenav {
  height: 100%; 
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
 
}

#sidenav2 {
  height: 100%; 
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  float: right;
  right: 0;
}

#pagecontent {
  margin: 0px 150px;
  padding: 0 10px;
}

#logo {
  float: left;
  width: 40%;
  height: 155px;
  margin-bottom: 10px;
}

#welcome{
  display: grid;
  float: right;
  width: 60%;
  height: 155px;
  text-align: center;
  font-size: 60px;
  margin: 0;
  align-items: center;
  
}

nav {
  clear: both;
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  
}
#nav {
  background: #000000;
  
}
.link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: #ffffff;
  color: #000000;
  padding: 24px 10px;
}

/* Time table CSS */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}   

th, td {
  padding: 5px;
  text-align: center;
}

/* T CHỈNH CHO ẢNH NẰM BÊN CẠNH PHẦN THÔNG TIN NHÉ (TÂN) */
.face{
  /* PHẦN NÀY T THÊM NÈ (TÂN) */
  float: left;
  width: 30%;
  object-fit: cover;
  margin: 10px;
}

.email_link{
  color: black;
  text-decoration: none;
}

#Email{
  font-weight: bold;
  color: black;
  text-decoration: none;  
}

#stdEmail{
  color: black;
  text-decoration: none;
}
#SE{
  color: green;

}
#RN1{
  color: darkgray;
}
#IoT{
  color: darkblue;
}
#RN2{
  color: darkgray;
}
#COS10009{
  background-color: darkred;
  color: white;
}
#COS10004{
  background-color: green ;
}
#COS10026{
  background-color: purple;
  color: white;
}
#TNE10006{
  background-color: pink;
}

/* T để ảnh và aside sang 2 bên đều hơn nhé (Tân)*/
#job{
  width: 50%;
  float: left;
  margin-right: 10px;
  object-fit: cover;
  /* t them border nhe (Tan) */
  border: 2px solid black;
}
#xD{
  margin: 10px;
  padding: 10px;
}

#beforeYou{
    float: left}

#you{
  float: right;
}

/* Cái id này t dùng trong 1 vài cái <br> để clear float bên trên, xem trong jobs là hiểu (Tân)*/
#clearAbove{clear: both;}
/* ani*/

#indp{
  display: inline-block;
  object-fit: contain;
  width: 100px;
  height: 100px;
  margin: 30px;
  width: 20%;
}
/* Cho enhancement page */
.canMargin {margin-bottom: 10px;}

/* Cho apply.html */
#formTitle {
  font-size: xx-large;
  text-align: center;
}

#formTitle2 {
  font-size: small;
  text-align: center;
}