/* T cho nhỏ page lại và có background video ở 2 bên */
body {
  margin: 0;
}
 
#sidenav {
  height: 100%; 
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-image: url(experiment/background-with-gradient-curve-design-with-the-black-theme-illustration-vector.jpg); 
}

#sidenav2 {
  height: 100%; 
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  float: right;
  right: 0;
  background-image: url(experiment/background-with-gradient-curve-design-with-the-black-theme-illustration-vector.jpg); 
}

#pagecontent {
  margin: 0px 150px;
  padding: 0 10px;
}

#logo {
  float: left;
  width: 40%;
  margin-bottom: 10px;
}

#welcome{
  float: right;
  width: 60%;
  text-align: center;
  font-size: 60px;
  
}

nav {
  clear: both;
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  
}
#nav {
  background: #000000;
  
}
.link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: #ffffff;
  color: #000000;
  padding: 24px 10px;
}

/* Time table CSS */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}   

th, td {
  padding: 5px;
  text-align: center;
}

/* T CHỈNH CHO ẢNH NẰM BÊN CẠNH PHẦN THÔNG TIN NHÉ (TÂN) */
.face{
  width: 300px;
  height: 300px;
  
  /* PHẦN NÀY T THÊM NÈ (TÂN) */
  float: left;
  width: 30%;
  object-fit: cover;
  margin: 10px;
}



.email_link{
  color: black;
  text-decoration: none;
}

#Email{
  font-weight: bold;
  color: black;
  text-decoration: none;  
}

#stdEmail{
  color: black;
  text-decoration: none;
}
#SE{
  color: green;

}
#RN1{
  color: darkgray;
}
#IoT{
  color: darkblue;
}
#RN2{
  color: darkgray;
}
#COS10009{
  background-color: darkred;
  color: white;
}
#COS10004{
  background-color: green ;
}
#COS10026{
  background-color: purple;
  color: white;
}
#TNE10006{
  background-color: pink;
}

/* T để ảnh và aside sang 2 bên đều hơn nhé (Tân)*/
#job{
  width: 50%;
  float: left;
  margin-right: 10px;
  object-fit: cover;
  /* t them border nhe (Tan) */
  border: 2px solid black;
}
#xD{
  margin: 10px;
  padding: 10px;
}

#beforeYou{
    float: left}

#you{
  float: right;
}

/* Cái id này t dùng trong 1 vài cái <br> để clear float bên trên, xem trong jobs là hiểu (Tân)*/
#clearAbove{clear: both;}
/* ani*/
$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow:hidden;
  position: relative;
  width: 960px;
  
  &::before,
  &::after 
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
  
  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  .slide {
    height: 100px;
    width: 250px;
  }
}