body {
  margin: 0px;
  
  
}
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  
}
#nav {
  background: #000000;
  
}
.link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: #ffffff;
  color: #000000;
  padding: 24px 10px;
}

/* Time table CSS */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}   

th, td {
  padding: 5px;
  text-align: center;
}

/* T CHỈNH CHO ẢNH NẰM BÊN CẠNH PHẦN THÔNG TIN NHÉ (TÂN) */
.face{
  width:300px;
  height:500px;
  
  /* PHẦN NÀY T THÊM NÈ (TÂN) */
  float: left;
  width: 30%;
  object-fit: cover;
  margin: 10px;
}


.email_link{
  color: black;
  text-decoration: none;
}

#Email{
  font-weight: bold;
  color: black;
  text-decoration: none;  
}

#stdEmail{
  color: black;
  text-decoration: none;
}
#SE{
  color: green;

}
#RN1{
  color: darkgray;
}
#IoT{
  color: darkblue;
}
#RN2{
  color: darkgray;
}
#COS10009{
  background-color: darkred;
}
#COS10004{
  background-color: green ;
}
#COS10026{
  background-color: purple;
}
#TNE10006{
  background-color: pink;
}

/* T để ảnh và aside sang 2 bên đều hơn nhé (Tân)*/
#job{
  width: 50%;
  float: left;
  margin-right: 10px;
  object-fit: cover;
}
#xD{
  margin: 10px;
  padding: 10px;
}

#beforeYou{
    float: left}

#you{
  float: right;
}

/* Cái id này t dùng trong 1 vài cái <br> để clear float bên trên, xem trong jobs là hiểu (Tân)*/
#clearAbove{clear: both;}
